body
{
    background-color: #000000;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    margin: 0px;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

    header
    {
        position: sticky;
        top: 0%;
        width: 100%;
    }

        nav
        {
            display: flex;
            justify-content: center;
            background-color: #061F17;
            padding: 5px;
        }

            .nav
            {
                margin-left: 20px;
                margin-right: 20px;
                padding: 10px;
                border-radius: 8px;
            }

            .nav:hover
            {
                cursor: pointer;
                background-color: #041510;
            }

    main
    {
        padding: 2% 10%;
        margin: auto;
        display: flex;
        flex-direction: row-reverse;
    }

        #photo
        {
            padding: 20px;
            float: right;
        }

            #author
            {
                width: 100%;
            }
    
        #content
        {
            display: flex;
            flex-direction: column;
        }

            #about_me
            {
                padding-left: 20px;
            }

                .about_me
                {
                    line-height: 150%;
                }

                    #PANS_Link
                    {
                        font-style: italic;
                        text-decoration: none;
                        color: white;

                    }

                    #PANS_Link:hover
                    {
                        cursor: pointer;
                        color: #aaaaaa;
                    }

    footer
    {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 20px;
        background-color: #041510;
        font-size: medium;
        height: 60px;
    }

        #mail
        {
            color: #ffffff;
            text-decoration: none;
        }

        #mail:hover
        {
            cursor: pointer;
            color: #aaaaaa;
        }

@media (max-width: 768px)
{
    body
    {
        font-size: large;
    }
    
    main
    {
        padding: 1% 5%;
        flex-direction: column;
    }

    footer
    {
        font-size: small;
    }
    
    footer div
    {
        padding: 0% 5%;
    }
}