body
{
    background-color: #000000;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 125%;
    margin: 0px;
}

    header
    {
        position: sticky;
        top: 0%;
        width: 100%;
    }

        nav
        {
            display: flex;
            justify-content: center;
            background-color: #061F17;
            padding: 5px;
        }

            .nav
            {
                margin-left: 20px;
                margin-right: 20px;
                padding: 10px;
                border-radius: 8px;
            }

            .nav:hover
            {
                cursor: pointer;
                background-color: #041510;
            }

    main
    {
        padding: 10px;
        max-width: 70%;
        width: fit-content;
        margin: auto;
    }

        #content
        {
            display: flex;
        }

            #about_me
            {
                padding-left: 20px;
            }

                .about_me
                {
                    line-height: 150%;
                }

                    #PANS_Link
                    {
                        font-style: italic;
                        text-decoration: none;
                        color: white;

                    }

                    #PANS_Link:hover
                    {
                        cursor: pointer;
                        color: #aaaaaa;
                    }

            #photo
            {
                width: 30%;
                padding: 20px;
            }

                #author
                {
                    width: 100%;
                }

    footer
    {
        display: flex;
        justify-content: space-evenly;
        padding: 2%;
        background-color: #041510;
        font-size: 70%;
        position: fixed;
        width: 100%;
        bottom: 0%;
    }

        #mail
        {
            color: #ffffff;
            text-decoration: none;
        }

        #mail:hover
        {
            cursor: pointer;
            color: #aaaaaa;
        }